<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
    <body>
        
        <div layout:fragment="content" class="container-fluid">

            <div class="row">
                <div class="col-md-12 text-center text-uppercase h4"><label>BANDEJA DE CLIENTES</label></div>
            </div>
            <hr>
            <div class="card">
                <div class="card-header" data-toggle="collapse" data-target="#item1" aria-expanded="false" aria-controls="item1">
                    <h5 class="mb-0">
                        <button class="btn btn-link">
                            FILTRAR POR:
                        </button>
                    </h5>
                </div>

                <div id="item1" class="collapse">
                    <div class="card-body">

                        <div class="form-row mb-1">

                            <div class="col-sm-6">
                                <label>RUC:</label>
                                <input type="text" class="form-control" />   
                            </div>

                            <div class="col-sm-6">
                                <label>Razon Social:</label>
                                <input type="text" class="form-control" />   
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-12">
                                <div class="float-right">
                                    <button id="btnBuscar" class="btn btn-primary"><span class="fas fa-search"></span> Buscar</button>
                                </div>
                            </div>
                        </div> 

                    </div>
                </div>
            </div>     

            <hr>
            <!-- Bandeja Principal -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="float-right">
                        <button id="btnNuevo" class="btn btn-primary" data-toggle="modal" data-target="#mdlNuevo"><span class="fas fa-plus"></span> Nuevo</button>

                    </div>
                </div>
            </div>

            <div class="card shadow mt-1 mb-4">
                <div class="card-body">
                    <div class="table-responsive" style="font-size: 12px;">
                        <table id="tblCliente" class="table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>RUC</th>
                                    <th>Razon Social</th>
                                    <th>Cliente</th>
                                    <th>Departamento</th>
                                    <th>Provincia</th>
                                    <th>Distrito</th>
                                    <th>Dirección</th>
                                    <th>Cobrador</th>
                                    <th>Acción</th>        
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>   
            

            <!-- Modal Nuevo-->
            <div class="modal fade" id="mdlNuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-gradient-primary">
                            <h5 class="modal-title" id="exampleModalLabel">Nuevo Cliente</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">RUC:</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Razón Social:</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Cliente:</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Departamento:</label>
                                <select class="form-control">
                                    <option>Lima</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Provincia:</label>
                                <select class="form-control">
                                    <option>Lima</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Distrito:</label>
                                <select class="form-control">
                                    <option>Lima</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Direccion:</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cerrar" />
                            <input type="button" class="btn btn-primary" value="Guardar">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Asignar cobrador-->
            <div class="modal fade" id="mdlAsignar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-gradient-primary">
                            <h5 class="modal-title" id="exampleModalLabel">Asignar Cobrador</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Cliente:</label>
                                <input type="text" class="form-control" disabled value="Jonathan Adrianzen">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Cobrador:</label>
                                <select class="form-control">
                                    <option value="0">--Seleccione--</option>
                                    <option value="0">Cobrador 1</option>
                                    <option value="0">Cobrador 2</option>
                                    <option value="0">Cobrador 3</option>
                                </select>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cerrar" />
                            <input type="button" class="btn btn-primary" value="Guardar">
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
        <div layout:fragment="scripts">
            <script type="text/javascript" th:src="@{js/nsScript/cliente/index.js}"></script>
            <script type="text/javascript" th:src="@{js/nsScript/cliente/controller.js}"></script>
        </div>

    </body>
</html>